# Theory Questions – Solutions

# 1.What are data structures, and why are they important?
- Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently.
- Importance: They improve efficiency, enable optimized searching/sorting, memory management, and make complex tasks easier.

# 2.Difference between mutable and immutable data types (with examples):
- Mutable: Can be changed after creation. Example: List → `my_list = [1, 2, 3]; my_list.append(4)`
- Immutable: Cannot be changed once created. Example: String → `"hello"[0] = "H" not allowed.

# 3.Difference between lists and tuples in Python:
- List: Mutable, defined with `[]`, slower but flexible. Example: `[1,2,3]`
- Tuple: Immutable, defined with `()`, faster, ensures data safety. Example: `(1,2,3)`

# 4.How dictionaries store data:
- Dictionaries use **hash tables** internally. Keys are hashed to find their storage location for fast retrieval.

# 5. Why use a set instead of a list?
- Sets automatically remove duplicates, provide faster membership checks, and are useful for mathematical operations.

# 6. What is a string in Python, and how is it different from a list?
- String: Sequence of characters, immutable.
- List: Sequence of elements (any type), mutable.
- Example: `"hello"[0] = "H"vs `[1,2,3][0]=10`

# 7. How do tuples ensure data integrity?
- Tuples are immutable, meaning their values cannot be modified, making them reliable for constant data storage.

# 8. What is a hash table, and how does it relate to dictionaries in Python?
- Hash table: Data structure that stores key-value pairs using hashing.
- Python dictionaries are implemented using hash tables.

# 9. Can lists contain different data types in Python?
- Yes. Example: `[1, "apple", 3.14, True]`

# 10. Why are strings immutable in Python?
- For memory efficiency and security; immutability allows strings to be cached and reused.

# 11. Advantages of dictionaries over lists:
- Faster lookups by key, unordered key-value storage, flexible mappings.

# 12. Scenario where tuple is preferable over list:
- Storing constant values (like coordinates `(x,y)` or database keys) where modification is not allowed.

# 13. How do sets handle duplicates?
- Automatically remove duplicates. Example: `{1,2,2,3}` → `{1,2,3}`

# 14. How does the `in` keyword work differently for lists and dictionaries?
- List: Checks if element exists. `2 in [1,2,3] → True`
- Dictionary: Checks keys, not values. `"age" in {"age":25} → True`

# 15. Can you modify tuple elements? Why or why not?
- No, because tuples are immutable.

# 16. What is a nested dictionary? Example:
- A nested dictionary in Python is simply a dictionary that contains another dictionary (or multiple dictionaries) as one or more of its values.
    student = {
        "name": "Alice",
        "marks": {"math": 90, "science": 85}
    }
  

# 17. Time complexity of accessing dictionary elements:
- Average case: **O(1)** (constant time).

# 18. When are lists preferred over dictionaries?
- When order matters, duplicates are needed, or data doesn’t need key-value mapping.

# 19. Why are dictionaries considered unordered?
- They store data based on hash values, not sequence (though from Python 3.7+, insertion order is preserved).

# 20. Difference between list and dictionary in terms of data retrieval:
- List → Access by index (position). Example: `mylist[0]`
- Dictionary → Access by key. Example: `mydict["name"]`

# Practical Questions – Solutions (Python Code)

In [ ]:
# 1. Create a string with your name
name = "Shrinidhi"
print(name)

Shrinidhi

In [ ]:
# 2. Length of "Hello World"
print(len("Hello World"))

11

In [ ]:
# 3. Slice first 3 chars from "Python Programming"
print("Python Programming"[:3])

Pyt

In [ ]:
# 4. Convert "hello" to uppercase
print("hello".upper())

HELLO

In [ ]:
# 5. Replace "apple" with "orange"
print("I like apple".replace("apple", "orange"))

I like orange

In [ ]:
# 6. Create list 1 to 5
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Append 10
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Remove 3
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

In [ ]:
# 9. Access 2nd element
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
# 10. Reverse list
nums = [10, 20, 30, 40, 50]
print(nums[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# 11. Tuple with 100,200,300
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
# 12. Access second-to-last element
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
# 13. Find min in tuple
t = (10, 20, 5, 15)
print(min(t))

5

In [ ]:
# 14. Index of "cat"
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [ ]:
# 15. Check if "kiwi" is in fruits
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [ ]:
# 16. Create set
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [ ]:
# 17. Clear set
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
# 18. Remove 4
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
# 19. Union
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [ ]:
# 20. Intersection
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [ ]:
# 21. Dictionary
d = {"name": "John", "age": 25, "city": "NY"}
print(d)

{'name': 'John', 'age': 25, 'city': 'NY'}

In [ ]:
# 22. Add new key-value
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Access value of "name"
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [ ]:
# 24. Remove "age"
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Check if key exists
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [ ]:
# 26. Create list, tuple, dict
my_list = [1,2,3]
my_tuple = (4,5,6)
my_dict = {"a":1, "b":2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [ ]:
# 27. Random numbers sorted
import random
nums = random.sample(range(1,101),5)
nums.sort()
print(nums)

[35, 36, 50, 51, 53]

In [ ]:
# 28. List with strings, access 3rd index
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [ ]:
# 29. Combine two dictionaries
d1 = {"a":1, "b":2}
d2 = {"c":3, "d":4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Convert list of strings to set
words = ["apple", "banana", "apple", "cherry"]
print(set(words))

{'banana', 'cherry', 'apple'}